join/34.201.127.245/root/kubejoin.sh/join/54.211.72.17/root/kubejoin.sh
/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.0.1/linux_amd64/terraform-provider-aws_v5.0.1_x5 
terraform/.terraform/*
